/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav-links li {
    display: inline;
    margin-left: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hero section styles */
#hero {
    background-image: url('hero-image.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: #090808;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #555;
}

/* About section styles */
#about {
    background-color: #f1f1f1;
}

#about h2 {
    margin-bottom: 20px;
}

/* Skills section styles */
#skills {
    background-color: #fff;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

/* Projects section styles */
#projects {
    background-color: #f1f1f1;
}

#projects h2 {
    margin-bottom: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project h3 {
    margin-bottom: 10px;
}

/* Contact section styles */
#contact {
    background-color: #333;
    color: #fff;
}

#contact h2 {
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    transition: background-color 0.3s ease;
}

section:target {
    background-color: #f9f9f9;
}